@use '../abstracts/mixins'as *;
@use '../abstracts/variables'as *;

/*
************
*************************
22. Blog
******************************************************* 
*************************************************************** */
.blog {
    &__items {}

    &__item {
        &__img {
            & img {}
        }

        &__content {
            & h3 {
                font-size: 20px;
                padding-top: 15px;
                padding-bottom: 10px;
                line-height: 30px;
                color: $theme-color;
            }

            & span {
                margin-bottom: 8px;
                color: #929fa5;
            }

            & p {
                font-size: 16px;
                color: #687074;
            }
        }
    }

    &__btn{
        & a{
            color: $theme-color;
            font-weight: 700;
            margin-top: 6px;
            text-decoration: none;
        }
    }
}