@use '../abstracts/mixins'as *;
@use '../abstracts/variables'as *;

/*
************
*************************
22. Get In Touch
******************************************************* 
*************************************************************** */

.getIn {

    &__left,
    &__right {
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
        padding: 35px 21px;
    }

    &__right {

        & input,
        textarea {
            border: 1px solid #ddd9cf;
            border-radius: 5px;
            background: #fffaef;
            padding: 15px 25px;
            font-size: 16px;
            color: #000;
        }

        & input {
            height: 39px;
            margin-bottom: 15px;
        }

        & textarea {
            height: 200px;
            margin-bottom: 25px;
        }

        & button {
            text-align: right;
        }
    }

    &__btn {
        & button {
            font-size: 14px;
            color: #fff;
            padding: 15px 40px;
            background-color: $theme-color;
            border: 0;
            border-radius: 5px;
            display: block;
            transition: .3s;

            &:hover {
                background-color: #08526d;
            }
        }
    }
}