@use '../abstracts/mixins'as *;
@use '../abstracts/variables'as *;

/*
************
*************************
22. Services
******************************************************* 
*************************************************************** */

.services {
    &__item {
        & i {
            font-size: 25px;
            color: $theme-color;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border: 1px solid #dbcea0;
            background-color: $grey;
            border-radius: 50%;
        }

        & h4 {
            font-size: 20px;
            color: $theme-color;
        }
    }
}